NEXT_PUBLIC_URL=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
# SPOTIFY_REDIRECT_URI=

# VISITOR_COUNTER_KEY=
# VISITOR_COUNT_NAMESPACE=
# VISITOR_COUNT_BASE=

NEXT_PUBLIC_UMAMI_SRC=
NEXT_PUBLIC_UMAMI_WEBSITE_ID=
